<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Massively by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>My<br />
						Portfolio
						</h1>
						<p>This is my showcase of my projects and abilities</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<!-- <header id="header">
						<a href="index.html" class="logo">Massively</a>
					</header> -->

				<!-- Nav -->
					<nav id="nav">
				
						<ul class="icons">
							<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
							<!-- <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
							<li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/lazyLuffy" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<!-- <span class="date">April 25, 2017</span> -->
									<h2><a href="#">About<br />
									Me</a></h2>
									<p>Strong in design and integration with intuitive problem-solving skills. Proficient in JavaScript, PYTHON, JAVASCRIPT, MongoDb , NodeJs, Express . Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions. Looking to start the career as an entry-level developer with a reputed firm driven by technology.</p>
								</header>
								<a href="#" class="image main"><img src="images/valeriy-khan-0sUe24rw_Fg-unsplash.jpg" alt="" /></a>
								<!-- <ul class="actions special">
									<li><a href="#" class="button large">Read More</a></li>
								</ul> -->
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<!-- <span class="date">April 24, 2017</span> -->
										<h2><a href="#">Project 1<br />
										Crud Applcation</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/sigmund-9aSH7CauB9Y-unsplash.jpg" alt="" /></a>
									<p>CRUD is an acronym that comes from the world of computer programming and refers to the four functions that are considered necessary to implement a persistent storage application: create, read, update and delete.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Try</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Project 2<br />
										Blog Markdown</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/igor-miske-Px3iBXV-4TU-unsplash.jpg" alt="" /></a>
									<p>A blogging platform is a software or service used to manage and publish content on the internet in the form of a blog. A blog—short for weblog—is a record of a user's entries online, usually in reverse chronological order..</p>
									<ul class="actions special">
										<li><a href="#" class="button">Try</a></li>
									</ul>
								</article>
								<article>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="/create" id="_form">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="text">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Delhi , India<br />
								North Delhi 110084</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(+91) 8130673113</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">jatinadhikari12@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<!-- <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li> -->
									<!-- <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li> -->
									<li><a href="https://www.instagram.com/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/lazyLuffy" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; All rights Reserved by</li><li>Jatin Adhikari</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script>
				const form = document.getElementById('_form');
				form.onsubmit = (e)=>{
					alert("Thankyou for contacting..")
					// event.preventDefault();
				}
			</script>

	</body>
</html>